.navBar {
    max-width: 1000px;
}

.navBar .link {
    color: whitesmoke;
    margin: 0px 15px 0px 15px;
}

.navBar .link:hover {
    color: orange;
}

.navBar .cart {
    margin-left: 25px;
}

.navBar .button {
    margin-right: 50px;
}